<div>
  <link href="./component21.css" rel="stylesheet" />
  <div class="component21-container">
    <div class="component21-container01">
      <div class="component21-container02">
        <div class="component21-container03">
          <div class="component21-container04"></div>
          <div class="component21-container05"></div>
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1616420040078-c9e57bc83c35?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEyfHxjaW5lbWF0aWN8ZW58MHx8fHwxNjkwNjQyNjk4fDA&ixlib=rb-4.0.3&w=200"
            class="component21-image"
          />
        </div>
        <div class="component21-container06">
          <div class="component21-container07"></div>
          <div class="component21-container08"></div>
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1568459154287-8b76efb9132c?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDZ8fGNpbmVtYXRpY3xlbnwwfHx8fDE2OTA2NDI2OTh8MA&ixlib=rb-4.0.3&w=200"
            class="component21-image1"
          />
        </div>
        <div class="component21-container09">
          <div class="component21-container10"></div>
          <div class="component21-container11"></div>
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1610847455028-9e55e62bac33?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDN8fGNpbmVtYXRpY3xlbnwwfHx8fDE2OTA2NDI2OTh8MA&ixlib=rb-4.0.3&w=200"
            class="component21-image2"
          />
        </div>
      </div>
    </div>
  </div>
</div>
