.component21-container {
  width: 100%;
  height: 1001px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: 40px;
  justify-content: center;
}
.component21-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.component21-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component21-container03 {
  flex: 0 0 auto;
  width: 199px;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.component21-container04 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  margin-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1617195737496-bc30194e3a19?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fGNpbmVtYXRpY3xlbnwwfHx8fDE2OTA2NDI2OTh8MA&ixlib=rb-4.0.3&w=200');
  background-position: center;
}
.component21-container05 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  margin-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1589194837853-340f4a2f6559?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDV8fGNpbmVtYXRpY3xlbnwwfHx8fDE2OTA2NDI2OTh8MA&ixlib=rb-4.0.3&w=200');
  background-position: center;
}
.component21-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 60px;
}
.component21-container06 {
  flex: 0 0 auto;
  width: 199px;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.component21-container07 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  margin-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1575341606544-71df52f9bdf2?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE0fHxjaW5lbWF0aWN8ZW58MHx8fHwxNjkwNjQyNjk4fDA&ixlib=rb-4.0.3&w=200');
  background-position: center;
}
.component21-container08 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  margin-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1615415370545-6a086f149940?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE5fHxjaW5lbWF0aWN8ZW58MHx8fHwxNjkwNjQyNjk4fDA&ixlib=rb-4.0.3&w=200');
  background-position: center;
}
.component21-image1 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 60px;
}
.component21-container09 {
  flex: 0 0 auto;
  width: 199px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.component21-container10 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  margin-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1597694491574-740e696ce5dc?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE1fHxjaW5lbWF0aWN8ZW58MHx8fHwxNjkwNjQyNjk4fDA&ixlib=rb-4.0.3&w=200');
  background-position: center;
}
.component21-container11 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  margin-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1508849789987-4e5333c12b78?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDh8fGNpbmVtYXRpY3xlbnwwfHx8fDE2OTA2NDI2OTh8MA&ixlib=rb-4.0.3&w=200');
  background-position: center;
}
.component21-image2 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 60px;
}
