<div>
  <link href="./navigation-links1.css" rel="stylesheet" />
  <nav class="navigation-links1-nav">
    <a href="index.html" class="navigation-links1-navlink">
      <span>All Tasks</span>
    </a>
    <a href="l-3-t-1-1.html" class="navigation-links1-navlink1">
      <span>L-3 T-1 (1)</span>
    </a>
    <a href="l-3-t-1-2.html" class="navigation-links1-navlink2">
      <span>L-3 T-1 (2)</span>
    </a>
    <a href="l-3-t-2.html" class="navigation-links1-navlink3">
      <span>L-3 T-2</span>
    </a>
  </nav>
</div>
